# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
#statiac
*.amr
*.aac
static/upload/avatar

# Folders
_obj
_test
libraries

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
.DS_Store
.idea
main
config.json
config.json
